@import "tailwindcss";

body {
    background: #111827; /* This matches your dark theme */
}

.text-shadow-blue {
    text-shadow: 2px 2px 8px rgba(28, 61, 122, 0.5);
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.snap-y {
    scroll-snap-type: y proximity;
}

.snap-start {
    scroll-snap-align: start;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}